{% extends 'slovar/index.html' %}
{% block content %}
				<p>Всего слов {{ page_obj.paginator.num_pages }}.</p>
					<div id="main">
					
						<div id="wordsblock">
						
							{% for i in page_obj %}
								<p class ="quest_word">{{i.rus}}</p>
								<div id="example_1" style="display:none;"><p class ="answ_word">{{i.slov}}</p></div>
		
								<div id="admin_panel">
									<button  onclick="(document.getElementById('example_1').style.display='block')" >Не знаю</button>
									<div class="pagination">
										<span class="step-links">
										
											{% if page_obj.has_next %}
												<button ><a href="?page={{ page_obj.next_page_number }}">Далее</a></button>
											{% endif %}
											
											{% if not page_obj.has_next %}
												<button > <a href="/rus_slov">Конец. Заново?</a></button>
											{% endif %}
										</span>
									</div><!-pagination->
								</div><!-admin_panel->
						
							{% endfor %}
						</div><!-wordsblock->
					</div><!-main->	
				</div><!-col-md-6->

			</div><!-row->
		</div><!-content container->
	
{% endblock %}